*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  height: 10000px;
}
.btu{
  background-color: #feed5a;
  color: rgba(255, 255, 255, 255);
  padding: 10px 30px ;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.btu:hover{
  background: transparent;
  border: 1px solid #222222;
}
/* navbar  */
.navbar {
  padding: 20px;
  background: #ffff;
  box-shadow: 1px -3px 20px 0px #e8e7e7;
  overflow: hidden;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1.5px;
  color: #222222;
  margin: 0 12px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #feed5a;
}
.navbar-toggler:focus, .navbar-toggler:hover {
  outline: 0;
  border: 0;
}

@media(max-width:768px){
  .navbar-brand {
    width:68%;
  }
  .navbar-brand img{
    width: 100%;
  }
  .navbar-nav{
    margin-top: 20px;
  }
}
/* carousel */
.carousel{
  padding:  0 20px;
}
.ovelay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(119, 119, 119, 0.24);

}

.carousel-caption {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #222222;
}
.carousel-caption h5 , .carousel-caption p{

  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 0;
}
.carousel-caption h5 span , .carousel-caption p span{
  font-size: 120px;
  font-family: 'Slackey', cursive;
}

.carousel-control-prev i , .carousel-control-next i{
  font-size: 52px;
  color: #222222;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.carousel-control-prev i:hover ,.carousel-control-next i:hover {
  color: #feed5a;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 37px;
}


@media(min-width:768px) and (max-width:991px){
  .carousel-caption {
    position: absolute;
    top: 50%;
  }
  .carousel-caption h5 , .carousel-caption p{
    font-size: 20px;
  }
  .carousel-caption h5 span , .carousel-caption p span{
    font-size: 30px;
  }
}

@media(max-width:767px){
  .carousel-caption h5 , .carousel-caption p{
    font-size: 22px;
  }
  .carousel-caption h5 span , .carousel-caption p span{
    font-size: 33px;
  }
  .carousel{
    transform: translateY(84px);
    -webkit-transform: translateY(84px);
    -moz-transform: translateY(84px);
    -ms-transform: translateY(84px);
    -o-transform: translateY(84px);
}
.carousel-caption {
  position: absolute;
  top: 5%;
}
.carousel-control-prev {
  left: 20px;
  top: 8px;
}
.carousel-control-next {
  right:20px;
  top: 8px;
}
.btu{
  padding: 5px 10px !important;
}
}

/* about */
.about{
  padding: 50px 20px;
}
.about-dec{
  padding: 60px;
}
.about-dec h5{
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 11px;
  text-shadow: 0px 0px 10px rgba(0,0,0,0);
}
.about-dec h2{
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: -1.3px;
  width: 44%;
}
.about-body{
  padding: 20px 72px;
}
.about-body p:first-child{
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  line-height: 2.1em;
  letter-spacing: 0.45px;
  width: 90%;
}
.about-body p:last-child{
  font-family: 'Montserrat', sans-serif;
  line-height: 2.1em;
}
.stat-item h3{
  color: #222222;
  font-family: 'Slackey', cursive;
  font-size: 48px;
  font-weight: bold;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0px;
}
.stat-item p{
  font-family: "Montserrat", Sans-serif;
}
.stat-item{
  position: relative;
}
.stat-item::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 84px;
  height: 3px;
  background-color: #feed5a;
}
@media(max-width:991px){
  .about-dec {
    padding: 60px 6px 0;
}
.about-dec h2 {
  font-size: 34px;
  width: 84%;
}
.about-body {
  padding: 20px 0px;
}
}
@media(max-width:767px){
  .about{
    padding: 123px 20px 0 !important;
  }
  .about-dec {
    padding: 20px 0px;
}
.about-dec h2 {
  width: 100%;
  font-size: 33px;
}
.about-body {
  padding: 20px 0px;
}
}
/* selling */
.selling-dec h2{
  font-family: 'Slackey', cursive;
  font-size: 52px;
  font-weight: 800;
  text-transform: none;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: -0.7px;
  margin-bottom: 30px;
}
.selling-dec p {
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  line-height: 2.1em;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.selling-dec .btu{
  background: transparent;
  border: 1px solid #222222;
  color: #222222;
}
.selling-dec .btu:hover{
  background: #feed5a;
  border: 1px solid #feed5a;
}
.selling-img{
  overflow: hidden;
  position: relative;
}
.selling-img-element{
  position: absolute;
  bottom: 30px;
  left:40px;
}
@media(max-width:767px){
  .selling-dec h2{
    font-size: 45px;
  }
}
/* start  Hotoffer */
.hotoffer{
  margin-top: -66px;
}
.hotoffer .hotoffer-img{
  background-image: url("../images/Mask-Group-2.png");
  background-color: #3c3c3c;
  width: 107%;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 0 40px;
}
.hotoffer .hotoffer-img h2{
  font-family: "Slackey", Sans-serif;
  font-size: 90px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: 0px;
  /* width: 40%; */
  color: #e8e7e7;
}
.hotoffer .hotoffer-img p{
  color: #feed5a;
  font-family: "Slackey", Sans-serif;
  font-size: 22px;
}
.hotoffer .hotoffer-img .btu{
  background: transparent;
  border: 1px solid #feed5a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #e8e7e7;
}
.hotoffer .hotoffer-img .btu:hover{
  background-color: #feed5a;
  color: #3c3c3c;
}
.hotoffer .hotoffer-dec{
  padding: 208px 123px 0;
}

.hotoffer .hotoffer-dec h2{
  font-family: "Slackey", Sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1.2px;
}
@media(max-width:570px){
  .hotoffer .hotoffer-img h2 {
    font-size: 46px;
  }
}
@media(max-width:767px){
  .hotoffer {
    margin-top: 59px;
}
  .hotoffer .hotoffer-img{
    width: 100%;
  }
  .hotoffer .hotoffer-dec{
    padding: 31px 0;
  }
  .hotoffer .hotoffer-dec h2{
    font-size: 52px;
  }
}

@media(max-width:991px){
  .hotoffer {
    margin-top: 59px;
}
.hotoffer .hotoffer-dec{
  padding: 101px 20px;
}
.hotoffer .hotoffer-dec h2{
  font-size: 47px;
}
}
/* start  Hotoffer */

/* start categories */

.categories{
  padding: 100px 20px;
}
.categories .categories-dec h2{
  font-family: "Slackey", Sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: -0.8px;
  color: #222222;
  padding: 20px 0;
}
.categories .categories-link{
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.1px;
  color: #222222;
  display: inline-block;
  padding: 28px 0 20px 178px;
}
.categories .popular-categories-img{
  padding: 3px;
  border: 1px solid #e8e7e7;
  overflow: hidden;
  position: relative;
}
.categories .popular-categories-img img{
  width: 100%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.categories .popular-categories-img:hover  img{
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
.categories .popular-categories-img .popular-categories-link{
  position: absolute;
  bottom: -30px;
  left: -40px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
.categories .popular-categories-img .popular-categories-link a{
  font-size: 20px;
  color: #3c3c3c;
  font-family: "Slackey", Sans-serif;
  font-weight: 600;
}
.categories .popular-categories-img:hover .popular-categories-link{
  position: absolute;
  bottom: 30px;
  left: 40px;
}
@media(max-width:767px){
  .categories .categories-dec h2 {
    font-size: 29px;
  }
  .categories .categories-link {
    padding: 0px 0 39px 0;
}
.categories .popular-categories-img {
  height: 109px;
  margin-bottom: 10px;
}
}
/* end categories */

.discount{
  background-image: url("../images/bacground.png");
  background-size: cover;
  background-position: center;
  padding: 130px 0;
  text-align: center;
}
.discount .discount-dec img{
  /* width: 100%; */
}